.ant-layout{
    height: 100vh
}

.ant-table-wrapper{
    height: 300px;
    overflow-y: scroll;
}

.dialogPic{
    height: 300px;
    img{
        width: 100%;
    }
    overflow-y: scroll;
}

.ant-modal{
    width: 920px !important;
}